# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ignore environment and sensitive files
.env
.DS_Store

# Ignore virtual environment
venv/
.env/
.venv/

# Ignore VSCode/IDE configs
.vscode/
.idea/
